<template>
  <div>
    <div class="course_main is-clearfix">
      <div class="course_left master">
        <div class="course_title is-clearfix">
          <h1 class="is-pulled-left">
            {{ get_courses.name }}
          </h1>
          <div class="button_parent">
            <button
              v-if="$store.state.isUserLoggedIn"
              :class="{'is-link': favicon_active }"
              class="button is-pulled-right"
              @click="setFavorite()"
            >
              <span class="icon">
                <i class="far fa-heart" />
              </span>
            </button>
          </div>
        </div>
        <div class="course_content">
          <div class="course_movie">
            <div class="course_movie_inner">
              <figure class="image is-16by9">
                <iframe
                  class="has-ratio"
                  width="640"
                  height="360"
                  :src="`https://www.youtube.com/embed/${get_courses_item.youtube_id}?showinfo=0`"
                  frameborder="0"
                  allowfullscreen
                />
              </figure>
            </div>
          </div>
          <div class="course_info">
            <div class="tabs is-fullwidth">
              <ul>
                <li
                  :class="{ 'is-active': tabActive == 0 }"
                  @click="setTab(0)"
                >
                  <a>
                    <span class="icon">
                      <i
                        class="far fa-file-alt"
                        aria-hidden="true"
                      /></span>
                    <span>課程介紹</span>
                  </a>
                </li>
                <li
                  :class="{ 'is-active': tabActive == 1 }"
                  @click="setTab(1)"
                >
                  <a>
                    <span class="icon">
                      <i
                        class="fas fa-bolt"
                        aria-hidden="true"
                      /></span>
                    <span>即時資訊</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="info_content">
              <div class="content">
                {{ get_courses.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="course_right secondary">
        <div class="course_top is-clearfix">
          <div class="course_top_left">
            章節
          </div>
          <span class="course_top_station">名稱</span>
        </div>
        <div
          class="course_item_parent"
          style="color: #4a4a4a"
        >
          <!-- <div
            v-for="n in 10"
            :key="n"
            :class="{ active: n == itemActive }"
            class="course_item"
            @click="clickItem(n)"
          >
            <div class="course_item_station">
              <span class="course_item_number">{{ n }}</span>
            </div>
            <div class="course_item_name">
              分類名稱
            </div>
          </div> -->

          <div
            v-for="(it,index) in coursesItem"
            :key="index+1"
            :class="{ active: index+1 == itemActive }"
            class="course_item"
            @click="clickItem(index+1)"
          >
            <div class="course_item_station">
              <span class="course_item_number">{{ index+1 }}</span>
            </div>
            <div class="course_item_name">
              {{ it.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CourseId",
  components: {},
  validate(context) {
    //如果網址沒有帶入ID 導回首頁
    const id = context.route.params.id;
    if (!id) context.redirect("/");
    return true;
  },
  async asyncData(context) {
    const id = context.route.params.id;
    return context
      .$axios({
        method: context.app.$API.getCoursesItem.method,
        url: context.app.$API.getCoursesItem.url.replace(
          ":id.json",
          id + ".json"
        )
      })
      .then(response => {
        return {
          id,
          coursesItem: response.data.item
        };
      })
      .catch(error => {
        console.error(error);
      });
  },
  data() {
    return {
      id: "", //上方的參數 id
      coursesItem: [],
      tabActive: 0,
      itemActive: 0
    };
  },
  async fetch(context) {
    if (context.app.store.state.courses.length == 0)
      await context.store.dispatch("getCoursesList");

    //代表userFavorite 還沒初始化
    if (context.store.state.userFavorite === null) {
      await context.store.dispatch("getUserFavorite");
    }

    if (
      !context.store.state.courses.find(it => it.id === context.route.params.id)
    ) {
      context.redirect("/");
    }
  },
  computed: {
    get_courses() {
      return this.$store.state.courses.find(it => it.id === this.id) || {};
    },
    get_courses_item() {
      return (
        this.coursesItem.find((it, index) => this.itemActive == index + 1) || []
      );
    },
    favicon_active() {
      return (
        this.$store.state.userFavorite &&
        this.$store.state.userFavorite[this.id]
      );
    }
  },
  watch: {
    $route(to) {
      this.itemActive = to.query.item || 1;
    }
  },
  created() {},
  mounted() {
    this.itemActive = this.$route.query.item || 1;
  },
  methods: {
    clickItem(item) {
      if (item == this.itemActive) return;
      this.itemActive = item;
      this.$router.push({
        query: {
          item: item
        }
      });
    },
    setTab(index) {
      this.tabActive = index;
    },
    setFavorite() {
      if (this.$store.state.userFavorite === null) return;
      //先更新 vuex
      this.$store.commit("set_userFavorite", {
        ...this.$store.state.userFavorite,
        [this.id]: !this.$store.state.userFavorite[this.id]
      });
      //更新Favorite
      this.$store.dispatch("updateUserFavorite");
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/course.scss";
</style>


