@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
// import ~ 代表引用node module下的套件
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Colours
$primary: #d0eeed;
$secondary: #d0e0ee;

// Breakpoints
$tablet: 724px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);

.button {
  color: skyblue;
}
