@import "~assets/scss/_variables.scss";

.course_main {
  position: relative;
  background-color: #f5f8f8;
  .course_left {
    width: 75%;
  }
  .course_right {
    width: 25%;
    font-size: 14px;
    top: 0;
    height: 100%;
  }
  .course_item_parent {
    width: 100%;
    height: 100%;
    background-color: #f5f8f8;
  }
  .course_item {
    min-height: 60px;
    padding: 0;
    padding-left: 13px;
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
    &:not(:last-child) {
      .course_item_station {
        &::before {
          content: "";
          width: 5px;
          display: inline-block;
          background-color: currentColor;
          position: absolute;
          height: 68px;
          bottom: -68px;
          margin-left: -2px;
          z-index: 2;
        }
      }
    }
    &:nth-child(odd) {
      background-color: #ebf0f1;
    }
    &:hover {
      background-color: #ccc;
    }
    &.active {
      background-color: #ccc;
    }
  }
  .course_item_station {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: #fff;
    font-size: 15px;
    border-width: 4px;
    border-style: solid;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    position: relative;
    z-index: 3;
    transform: scale(0.8);
    top: -1px;
    position: relative;
    .course_item_number {
      display: block;
      font-weight: bold;
      position: relative;
      color: #4a4a4a;
    }
  }
  .course_item_name {
    color: #4a4a4a;
    display: inline-block;
    top: 4px;
    position: relative;
    margin-left: 8px;
    margin-right: 3px;
    width: 79%;
    vertical-align: top;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    a {
      color: inherit;
    }
  }
  .course_top {
    height: 30px;
    line-height: 30px;
    background: #3d3d3d;
    color: #fff;
    padding-left: 18px;
    font-size: 12px;
    .course_top_left {
      width: 35px;
      display: inline-block;
    }
    .course_top_station {
      width: auto;
      display: inline-block;
    }
    .course_top_transfer {
      margin-left: 9px;
      display: inline-block;
    }
  }
  .course_title {
    background-color: #dfe4e5;
    padding: 0 20px;
    padding-top: 13px;
    padding-bottom: 11px;
    position: relative;
    h1 {
      font-size: 21px;
      margin-left: 6px;
      position: relative;
      top: 4px;
      color: #3d3d3d;
    }
    p {
      font-size: 15px;
      margin-top: 10px;
      color: #3d3d3d;
    }
    button {
      margin-left: 5px;
    }
  }
  .course_movie {
    width: 100%;
    background-color: black;
  }
  .course_movie_inner {
    max-width: 700px;
    margin: 0 auto;
    width: 80%;
  }
  .course_info {
    min-height: 500px;
    background-color: #fff;
  }

  .info_content {
    padding: 0 25px;
    color: #4a4a4a;
    padding-bottom: 25px;
    a:hover {
      color: $primary;
      text-decoration: underline;
    }
  }
  .master {
    float: left !important;
    left: 0 !important;
    .course_movie_inner {
      right: 0 !important;
    }
  }
  .secondary {
    float: right !important;
    right: 0 !important;
    .course_movie_inner {
      left: 0 !important;
    }
  }
  @media screen and (max-width: $desktop) {
    .course_left {
      width: 100%;
    }
    .course_right {
      width: 100%;
    }
  }
}
