@import '_variables';
@import '~bulma';

html,
body,
#__nuxt,
#__layout {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.layout-enter-active, .layout-leave-active {
  transition: opacity .4s;
}
.layout-enter, .layout-leave-active {
  opacity: 0;
}