<template>
  <div class="mock">
    <div class="myTitle">
      Mock demo
    </div>
    <div>apiData:</div>
    <div>
      {{
        apiData
      }}
    </div>

    <br>

    <div>apiData2:</div>
    <div>
      {{
        apiData2
      }}
    </div>

    <br>

    <div>
      Select file to upload:
    </div>
    <input
      id="file"
      ref="file"
      type="file"
      class="input-file"
      @change="uploadFile"
    >
  </div>
</template>
<script>
export default {
  components: {
  },
  layout: 'empty',
  data () {
    return {
      apiData:null,
      apiData2:null
    };
  },
  computed: {
  },
  created(){
  },
  mounted(){
    // 直接打原始API路徑
    // 如果Server沒有允許跨域會有CORS問題
    this.$axios({
      method: 'get',
      baseURL: 'http://localhost:3034/api/test',
      headers:{
        AuthToken:123
      }
    }).then((response)=>{
      console.log(response.data);
      this.apiData=response.data;
    });
       
    // 透過代理打路徑
    this.$axios({
      method: 'get',
      baseURL: '/mock/test',
      headers:{
        AuthToken:123
      }
    }).then((response)=>{
      console.log(response.data);
      this.apiData2=response.data;
    });

    // 發送Content-Type為x-www-form-urlencoded form表單格式
    this.$axios({
      method: 'post',
      baseURL: 'http://localhost:3034/api/form',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded' 
      },
      data: this.$qs.stringify({
        UserName: 'value1',
        Content: 'aaaa2'
      })
    }).then((response)=> {
        console.log(response.data);
    });

  },
  methods: {
    uploadFile(){
     //上傳檔案到Server
     let formData = new FormData(); //form重設
     formData.append("videoFile",this.$refs.file.files[0]);
     formData.append("title","title");
     formData.append("description","description");
      this.$axios({
        method: 'post',
        baseURL: 'http://localhost:3034/api/file',
        headers: {
          'Content-Type': 'multipart/form-data' 
        },
        data: formData
      }).then((response)=> {
          console.log(response.data);
      });
    }

  }
};
</script>


<style lang="scss" scoped>
.mock{
  .myTitle{
    text-align: center;
    color:orange;
    font-size: 40px;
  }
}
</style>