<template>
  <div>
    <!-- <logo /> -->
    <h1>
      {{ title }}
    </h1>
    <h2>
      {{ h2 }}
    </h2>
    <h2>
      {{ demoH2 }}
    </h2>
  </div>
</template>

<script>
// import Logo from '~/components/Logo.vue'

export default {
  data () {
    return {
      title: 'demo',
      h2: '這是 h2'
    };
  },
  computed: {
    demoH2 () {
      return this.h2 + '(computed)';
    }
  },
  created () {
    // console.log('created')
  },
  mounted () {
    console.log('mounted');
  },
  methods: {
    demoFn () {
      console.log('demoFn');
    }
  }
//   components: {
//     Logo
//   }
};
</script>

<style lang="scss" >
/*scoped*/
@import "~/assets/scss/demo.scss";
</style>
