<template>
  <div>
    <span class="count">total count:{{ count }}</span>
    <button @click="increment">
      Increment
    </button>
  </div>
</template>

<script>
export default {
  props: {
    propsCount: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      count: 0
    };
  },
  created() {
    this.count = this.propsCount;
  },
  methods: {
    increment() {
      this.count++;
    }
  }
};
</script>

<style scoped lang="scss">
.count{
  margin-right: 5px;
}
</style>