<template>
  <div class="test">
    this is test

    <div class="bg">
      <img
        class="rain"
        src="@/assets/image/rain.png"
      >
    </div>
  </div>
</template>

<script>
export default {
  name: 'Test'
};
</script>

<style lang="scss" scoped>
.test {
  width: 100%;
  height: 100%;
  .bg {
    background: url(~assets/image/lake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    position: relative;
    .rain {
      right: 0;
      top: 30px;
      position: absolute;
      width: auto;
      height: auto;
    }
  }
}
</style>
