<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <div>
        <i class="far fa-copyright" /> 2021 <strong>jimmyy512</strong> Co., Ltd, all rights reserved.
        <!-- <div style="margin-top:1em">
          <a
            class="icon_a"
            href="#"
            target="_blank"
          >
            <span class="icon">
              <i class="fab fa-facebook" />
            </span>
          </a>
          <span class="icon">
            <i class="fas fa-home" />
          </span>
        </div> -->
      </div>
    </div>
  </footer>
</template>

<script>
import Logo from "~/components/Logo.vue";

export default {
  name: "Footer",
  components: {
    Logo
  },
  props: ["year", "title"],
  created() {}
};
</script>

<style lang="scss" scoped>
@import "./footer.scss";
</style>

