<template>
  <div>
    <Header
      @loginClick="loginClick"
      @registeredClick="registeredClick"
    />
    <Nuxt />
    <LoginModal
      v-if="openModal"
      :modal-typle="modalTyple"
      :open-modal.sync="openModal"
      @loginModalSubmit="loginModalSubmit"
    />
    <Footer />
  </div>
  <!-- <Nuxt> -->

  <!-- </Nuxt> -->
</template>

<script>
import Header from "@/components/Header/Header";
import Footer from "@/components/Footer/Footer";
import LoginModal from "@/components/Modal/LoginModal";
export default {
  // 只有pages底下的才可以指定layout,component不行
  // layout: 'demo'
  components: {
    Header,
    Footer,
    LoginModal
  },
  data() {
    return {
      openModal: false,
      modalTyple: ""
    };
  },
  mounted() {
    if (this.$route.query.id_token && this.$route.query.refresh_token) {
      //將網址query參數去除
      window.history.replaceState(null, null, window.location.pathname);
    }
  },
  methods: {
    loginClick() {
      this.openModal = !this.openModal;
      this.modalTyple = "login";
    },
    registeredClick() {
      this.openModal = !this.openModal;
      this.modalTyple = "registered";
    },
    loginModalSubmit(data) {
      if (data.modalTyple == "login") {
        this.$axios({
          method: this.$API.member.login.method,
          url: this.$API.member.login.url,
          baseURL: this.$config.google_api_url,
          data: {
            ...data,
            returnSecureToken: true
          }
        })
          .then(response => {
            this.openModal = false;

            this.$store.commit("setUserLoggedIn", {
              id_token: response.data.idToken,
              refresh_token: response.data.refreshToken,
              userUid: response.data.localId,
              userName: response.data.email
            });
          })
          .catch(error => {
            if (error?.response) {
              if (error.response.status === 400)
                this.$message({
                  message: error.response.data.error.message,
                  type: "error"
                });
            }
          });
      }

      if (data.modalTyple == "registered") {
        this.$axios({
          method: this.$API.member.registered.method,
          url: this.$API.member.registered.url,
          baseURL: this.$config.google_api_url,
          data: {
            ...data,
            returnSecureToken: true
          }
        })
          .then(response => {
            this.openModal = false;

            this.$store.dispatch("saveMemberInfo", {
              idToken: response.data.idToken,
              email: data.email,
              name: data.name,
              userUid: response.data.localId
            });
          })
          .catch(error => {
            if (error?.response) {
              if (error.response.status === 400)
                this.$message({
                  message: error.response.data.error.message,
                  type: "error"
                });
            }
          });
      }
    }
  }
};
</script>