<template>
  <div>
    Custom Error vue
    <br>
    <div>status code:</div>
    <div>{{ error.statusCode }}</div>
    <br>
    <div>message:</div>
    <div>{{ error.message }}</div>
    <br>
    <NuxtLink to="/">
      Go back Home page
    </NuxtLink>
  </div>
</template>

<script>
export default {
  layout: "empty",
  props: ["error"], // you can set a custom layout for the error page,
  mounted() {
    this.$message({
      message: this.error.message.cool,
      type: "error"
    });
    console.error("error:", this.error.message);
  }
};
</script>
