<template>
  <div>
    <section class="section">
      <div class="container">
        <h1 class="title">
          Hello World
        </h1>
        <p class="subtitle">
          My first website with <strong>Bulma</strong>!
        </p>
      </div>
    </section>

    <a class="button is-success">
      Button
    </a>

    <div class="columns block1">
      <div class="column">
        123
      </div>
      <div class="column">
        123
      </div>
      <div class="column">
        123
      </div>
    </div>

    <div class="columns block2">
      <div class="column">
        <div class="smallBlock">
          111
        </div>
      </div>
      <div class="column">
        <div class="smallBlock">
          111
        </div>
      </div>
      <div class="column">
        <div class="smallBlock">
          111
        </div>
      </div>
    </div>

    <!-- is-mobile -->
    <div class="columns block2 is-mobile">
      <div class="column">
        <div class="smallBlock">
          222
        </div>
      </div>
      <div class="column">
        <div class="smallBlock">
          222
        </div>
      </div>
      <div class="column">
        <div class="smallBlock">
          222
        </div>
      </div>
    </div>

    <!-- is-desktop -->
    <div class="columns block2 is-desktop">
      <div class="column">
        <div class="smallBlock">
          333
        </div>
      </div>
      <div class="column">
        <div class="smallBlock">
          333
        </div>
      </div>
      <div class="column">
        <div class="smallBlock">
          333
        </div>
      </div>
    </div>

    <div class="columns cool is-multiline is-mobile">
      <div class="column is-one-quarter">
        <code>is-one-quarter</code>
      </div>
      <div class="column is-one-quarter">
        <code>is-one-quarter</code>
      </div>
      <div class="column is-one-quarter">
        <code>is-one-quarter</code>
      </div>
      <div class="column is-one-quarter">
        <code>is-one-quarter</code>
      </div>
      <div class="column is-half">
        <code>is-half</code>
      </div>
      <div class="column is-one-quarter">
        <code>is-one-quarter</code>
      </div>
      <div class="column is-one-quarter">
        <code>is-one-quarter</code>
      </div>
      <div class="column is-one-quarter">
        <code>is-one-quarter</code>
      </div>
      <div class="column">
        Auto
      </div>
    </div>

    <div class="block">
      This text is within a <strong>block</strong>.
    </div>
    <div class="block">
      This text is within a <strong>second block</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
    </div>
    <div class="block">
      This text is within a <strong>third block</strong>. This block has no margin at the bottom.
    </div>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
    >
      <span aria-hidden="true" />
      <span aria-hidden="true" />
      <span aria-hidden="true" />
    </a>
  </div>
</template>

<script>
export default {
  // 只有pages底下的才可以指定layout,component不行
  // layout: 'demo'
  components:{
  }
};
</script>

<style lang="scss" scoped >
.block1 {
  .column {
    text-align: center;
    background-color: skyblue;
  }
}
.block2 {
  width: 100%;
  .smallBlock {
    text-align: center;
    background-color: orange;
    width: 50%;
    margin: 0 auto;
  }
}
.cool {
  .column {
    background-color: skyblue;
  }
}
</style>
