<template>
  <div class="test">
    vue2-datepicker
    <div>
      <date-picker
        v-model="time1"
        value-type="format"
      />
      <date-picker
        v-model="time2"
        type="datetime"
      />
      <date-picker
        v-model="time3"
        range
      />
    </div>

    <div class="block" />

    <br>
    <br>
    <div>axios get html:</div>
    <div
      class="cool"
      v-html="htmlData"
    />
  </div>
</template>

<script>
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
export default {
  components: { DatePicker },
  layout: "demo",
  data() {
    return {
      time1: null,
      time2: null,
      time3: null,
      htmlData: null
    };
  },
  mounted() {
    this.$gsap.to(".block", { rotation: 720, x: 100, duration: 3 });

    this.$axios.$get("http://localhost:3000/date_test").then(res => {
      console.error("res:", res);
      this.htmlData = res;
    });
  }
};
</script>

<style lang="scss" scoped>
.test {
  width: 100%;
  height: 100%;
  .block {
    width: 100px;
    height: 100px;
    background-color: orange;
  }
}
</style>
