<template>
  <div id="grid_test">
    <div class="grid1" />

    <div class="grid2">
      <div class="red" />
      <div class="blue" />
      <div class="green" />
    </div>

    <div class="grid3">
      <div class="red" />
      <div class="blue" />
      <div class="green" />
    </div>

    <div class="grid4">
      <div class="item" />
      <div class="item" />
      <div class="item" />
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.grid1 {
  display: grid;
  grid-template-columns: 100px 50px 8fr 1fr 1fr;
  //其他寫法
  // grid-template-columns: repeat(2,1fr,2fr) 100px;
  // grid-template-columns: 200px repeat(auto-fill,30px) 20px;
  grid-template-rows: 25% 100px auto;
  height: 20vh;
  width: 940px;
  margin: 0 auto;
}
.grid2 {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  background: gray;
  grid-gap: 20px;
  padding: 20px;
  .red {
    grid-column: 1/3;
    grid-row: 3/5;
    background-color: rgb(202, 51, 5);
  }
  .blue {
    grid-column: 3/5;
    grid-row: 1/3;
    background-color: skyblue;
  }
  .green {
    grid-column: 3/5;
    grid-row: 3/5;
    background-color: green;
  }
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 300px;
  height: 200px;
  background-color: gray;
  margin: 50px auto;
  grid-template-areas:
    "red red red red"
    "blue blue green green";
  .red {
    grid-area: red;
    background-color: rgb(202, 51, 5);
  }
  .blue {
    grid-area: blue;
    background-color: skyblue;
  }
  .green {
    grid-area: green;
    background-color: green;
  }
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 300px;
  height: 200px;
  background-color: skyblue;
  margin: 0 auto;
  align-items: center;
  .item {
    width: 1fr;
    height: 100px;
    background-color: orange;
  }
}
</style>
