<template>
  <div>
    <!-- 方法1 -->
    <!-- <CourseList :courses="courses" /> -->

    <ClickButton class="clickButton" />

    <!-- 方法2 -->
    <CourseList :courses="get_courses" />
  </div>
</template>

<script>
import CourseList from "@/components/CourseList/CourseList";
import ClickButton from "@/components/click-button";
export default {
  // 只有pages底下的才可以指定layout,component不行
  // layout: 'demo'
  components: {
    CourseList,
    ClickButton
  },
  // //方法1: 透過asyncData方式讓打API有SSR
  // async asyncData(context) {
  //   return await context.$axios("api/getCourses").then((data)=>{
  //     return {courses:data.data.courses};
  //   });
  // },
  data() {
    return {
      courses: []
    };
  },
  //方法2: 透過fetch方式讓打API有SSR
  // fetch(context) {
  //   return context.$axios("api/getCourses").then(data => {
  //     context.store.commit("set_courses", {
  //       ...data.data
  //     });
  //   });
  // },
  fetch(context) {
    if (context.app.store.state.courses.length == 0)
      return context.store.dispatch("getCoursesList");
  },
  computed: {
    get_courses() {
      return this.$store.state.courses;
    }
  },
  mounted() {
    console.log("golbal variable:", _CON.test);
    console.log("mount index NODE_ENV", this.$config.NODE_ENV);
    console.log("mount index web_url", this.$config.web_url);
    console.log("mount index api_url", this.$config.api_url);
    console.log("mount index google_api_url", this.$config.google_api_url);
    //這個寫法 無mount index
    // this.$axios("api/getCourses").then((data)=>{
    //     this.$store.commit("set_courses",{
    //       ...data.data
    //     });
    // });

    // this.$Message({
    //   message: "登入失效請重新登入",
    //   type: "error"
    // });

    // this.$Notify({
    //   title: "成功",
    //   message: "这是一条成功的提示消息",
    //   type: "success"
    // });
  }
};
</script>

<style lang="scss" scoped >
.block1 {
  .column {
    text-align: center;
    background-color: skyblue;
  }
}
.block2 {
  width: 100%;
  .smallBlock {
    text-align: center;
    background-color: orange;
    width: 50%;
    margin: 0 auto;
  }
}
.clickButton{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
</style>
