<template>
  <div class="vuex_test">
    {{ $store.state.api.userName }}
  </div>
</template>

<script>
export default {
    layout:'empty',
    data() {
        return {
        };
    },
    mounted () {
        this.$store.commit("api/setUserName",10);
        console.error("ssss:",this.$store.state.api.userName);
    },
};
</script>

<style>

</style>